TOKEN=7539088891:AAHUwlFjfCeD_tJ9PNu1UO3YM02DH-bwkGI
DB_HOST=services.irn12.chabokan.net
DB_PORT=5899
DB_USER=root
DB_PASSWORD=r6oerSHeFeqhvYcZ
DB_NAME=joan
RENDER_URL=https://telegram-shop-bot-ghak.onrender.com

